/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html {
    height: 100%!important;
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: #F3F5F8;
    color: #50649c;
}
.logo-box {
    font-size: 25px;
    margin-left: 25px;
    margin-top: 10px;
}

/* NAVBAR DEFAULT */
.navbar-default {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color:#AEB7C2;
}

.navbar-nav > li > a > i {
    margin-right: 10px;
}

.navbar-nav > li > a {
    padding: 15px 25px;
}

.dropdown-menu > li > a > i {
    margin-right: 10px;
}

.page-title {
    padding: 10px 0 10px 0;
    font-weight: 300;
}

.panel {
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0);
    border: 0!important;
    margin-bottom: 25px;
    border-radius: 0;
}

.panel-body {
    padding: 0 10px 10px 10px;
}

@media (min-width: 768px) {
    .panel > .row > div:first-child {
        padding-left: 15px;
        padding-right: 0;
    }

    .panel > .row > div:last-child {
        padding-left: 0;
        padding-right: 15px;
    }
}

.panel .panel-heading {
    padding: 20px 10px;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0!important;
    height: 55px;
    font-size: 14px;
    font-weight: 600;
}

.panel .panel-heading .panel-title {
    font-size: 17px;
    float: left;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.panel .panel-heading .panel-title small {
    font-size: 80%;
}

.panel .panel-heading .panel-control {
    float: right;
    height: auto;
}

.panel .panel-heading .panel-control a {
    text-decoration: none;
    color: #ccc;
    margin-left: 5px;
    font-size: 14px;
    float: left;
}

.panel .panel-heading .panel-control a:hover {
    color: #a2a2a2;
}

.panel-default .panel-heading {
    background: #fff;
    border-color: #e7e7e7;
}

/* Personal Margin */
.mg-top-20 {
    margin-top: 20px;
}

/* Personal Buttons */
.btn-sm-table {
    padding: 2px 6px;
    font-size:12px;
}
.statistic {
    padding: 20px 15px;
    margin-bottom: 15px;
}
.has-shadow {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1),-1px 0 2px rgba(0,0,0,0.05);
}
.bg-white {
    background: #fff !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.statistic .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}
.bg-red {
    background: #d9534f !important;
    color: #fff;
}
.bg-green {
    background: #5cb85c !important;
    color: #fff;
}
.bg-orange {
    background: #ec971f !important;
    color: #fff;
}
.statistic strong {
    font-size: 1.5em;
    color: #333;
    font-weight: 700;
    line-height: 1;
}
.statistic small {
    color: #aaa;
    text-transform: uppercase;
}
.page-footer {
	bottom: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 19px;
	padding-bottom: 19px;
	border-top: 1px solid #e9e9e9;
}

/* Page Inner */
.page-inner {
    /* padding: 61px 0 50px 0; */
    /* padding: 0 0 50px 0; */
    background: #f5f5f5;
    position: relative;
}

@media (max-width: 480px) { 
    .page-inner {
        padding: 0;
    }
    .container {
        padding: 0;
    }
    #menu2-0 {
        margin-bottom: 1.5em !important;
    }
    .form-inline {
        margin: 10px;
    }
  }

/* Select com Busca - Fundo Branco*/

.btn-default.active, 
.btn-default:active, .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.active, 
.btn-default.focus, 
.btn-default:active, 
.btn-default:focus, 
.btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color: #fff;
}

/* CSS TABLES */

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
    border-top: 0;
}

